<% layout("/layouts/boilerplate") -%>
<body>
<div class="row">
    <div class="col-6 offset-3">
       
         <div class="card show-card listing-card">
           <h3><%= listing.title%></h3>
            <img src="<%=listing.image.url%>" class="card-img-top show-img mb-3" alt="listingimage">
            <div class="card-body">
            <p class="card-text">
             <b>Owned by:</b>
             <i><%=listing.owner.username%></i><br>
            <%=listing.description%><br>
           &#8377;<%=listing.price.toLocaleString("en-IN")%><br>
           <%=listing.location %><br>
           <%=listing.country%><br>
         </p>
        </div>
      </div>

    </div>
</div>
 <% if(CurrUser && CurrUser._id.equals(listing.owner._id)){%>
  <div class="btns">
    <a href="/listing/<%=listing._id%>/edit" class="btn btn-dark add-btn col-1 offset-3">Edit!</a>

    <form method="post" action="/listing/<%=listing._id%> ?_method=delete">
        <button class="btn btn-dark add-btn offset-5">Delete!</button>
    </form>
  </div>
  <br>
<%}%>
<hr>
<% if(CurrUser){%> 
<div class="col-8 offset-3">
  <h4>Leave a Review!</h4>
  <form novalidate class="needs-validation" method="post" action="/listing/<%=listing._id%>/reviews">
    <!-- <div>
      <label for="rating" class="form-label">Rating</label>
      <input type="range" min="1" max="5" name="review[rating]" class="form-range">
    </div> -->
<div>
<label for="rating" class="form-label">Rating</label>
<fieldset class="starability-slot">
  <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
  <input type="radio" id="second-rate1" name="review[rating]" value="1" />
  <label for="second-rate1" title="Terrible">1 star</label>
  <input type="radio" id="second-rate2" name="review[rating]" value="2" />
  <label for="second-rate2" title="Not good">2 stars</label>
  <input type="radio" id="second-rate3" name="review[rating]" value="3" />
  <label for="second-rate3" title="Average">3 stars</label>
  <input type="radio" id="second-rate4" name="review[rating]" value="4" />
  <label for="second-rate4" title="Very good">4 stars</label>
  <input type="radio" id="second-rate5" name="review[rating]" value="5" />
  <label for="second-rate5" title="Amazing">5 stars</label>
</fieldset>
</div>
    <div>
       <label for="comment" class="form-label">Comment</label>
       <textarea name="review[comment]" class="form-control" required></textarea>
    </div>
    <br>
     <button class="btn btn-dark add-btn">Add Review!</button>
   
  </form>
</div>
<%}%>
<br>
<div class="col-8 offset-3">
  <h4>All Reviews!</h4>
  <div class="row">
    <% for(review of listing.reviews){%>
      <div class="card col-5 ms-3 mb-3">
        <div class="card-body">
          <h5 class="card-title"><%=review.author.username%></h5>
           <p class="card-text"> <%=review.comment%></p>
            <p class="starability-result card-text" data-rating= <%=review.rating%> > </p>    
           <form method="post" action="/listing/<%=listing._id%>/reviews/<%=review._id%> ?_method=delete">
            <button class="btn btn-sm btn-dark">Delete!</button>
           </form>
       </div>
      </div>
  <%}%>
  </div>
</div>
</body>
</html>